<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="/NewEvent.html">Create Event</a></li>
            </ul>
        </div>
    </div>
    <div ng-controller="EditEventController" style="padding-left:20px; padding-right: 20px">
        <div class="container">
            <h1>New Event</h1>
            <hr />
            <form>
                <fieldset>
                    <label for="eventName">Event Name:</label>
                    <input id="eventName" type="text" ng-model="event.name" placeholder="Name of your event..." />
                    <label for="eventDate">Event Date:</label>
                    <input id="eventDate" type="text" ng-model="event.date" placeholder="format (mm/dd/yyyy)..." />
                    <label for="eventTime">Event Time:</label>
                    <input id="eventTime" type="text" ng-model="event.time" placeholder="start and end time..." />
                    <label for="eventLocation">Event Location:</label>
                    <input id="eventLocation" type="text" ng-model="event.location.address" placeholder="Address of event..." />
                    <br />
                    <input id="eventCity" type="text" ng-model="event.location.city" class="input-small" placeholder="City..." />
                    <input id="eventProvince" type="text" ng-model="event.location.province" class="input-small" placeholder = "Province..." />
                    <div>{{event.name}}</div>
                    <label for="eventImageUrl">Image:</label>
                    <input id="eventImageUrl" type="url" ng-model="event.imageUrl" class="input-xlarge" placeholder="Url of image..." />
                </fieldset>

                <img ng-src="{{event.imageUrl}}" src="" />
                <br />
                <br />

                <button type="submit" ng-click="saveEvent(event)" class="btn btn-primary">Save</button>
                <button type="button" ng-click="cancelEdit()" class="btn btn-defualt">Cancel</button>
            </form>
        </div>
    </div>
</div>

<script src="/lib/jquery.min.js"></script>
<script src="/lib/underscore-1.4.4.min.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/EventController.js"></script>
<script src="/js/controllers/EditEventController.js"></script>
<script src="/js/filters.js"></script>
</body>
</html>